body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

.org-color {
  color: darkorange;
}

.flexible-cont {
  display: flex;
  margin-bottom: 150px;
}

p {
  margin-bottom: 40px;
}
.half-width {
  width: 50%;
  padding-left: 5%;
  padding-right: 5%;
}

.half-width img {
  width: 80%;
}

.hire-btn {
  text-decoration: none;
  background-color: brown;
  padding: 10px 40px;
  border-radius: 5px;
  color: #fff;
  background-image: linear-gradient(darkorange, rgb(247, 81, 81));
  font-weight: 700;
}

.top-banner {
  background-image: url("./images/top-banner.png");
  background-repeat: no-repeat;
}

.dream-big {
  background-image: url("./images/dream-bg.png");
  background-repeat: no-repeat;
  background-position: right;
}

.exp-area {
  background-image: url("./images/exp-bg.png");
  background-repeat: no-repeat;
  background-position: left;
}

.box-item {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  box-shadow: 10px 10px 40px gray;
  padding-left: 30px;
  padding-bottom: 40px;
  border-left: 3px solid #ff6347;
  border-radius: 10px;
}
